:root {
    --primary-color: #3498db;       /* Azul principal */
    --secondary-color: #85ddaa;     /* Verde secundario */
    --background-color: #f5f5f5;    /* Fondo claro */
    --bordesInput: #7c7878;         /* Bordes */
    --accent-color: #e74c3c;        /* Rojo de acento */
}

/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Estilos para títulos */
h1, h2 {
    margin-top: 20px;
    text-align: center;
    color: var(--primary-color);
}

/* Estilos para formularios */
#formOp {
    display: grid;
    grid-template-columns: 150px 1fr;  /* Primera columna para labels, segunda para inputs */
    row-gap: 10px;  /* Espaciado entre filas */
    column-gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

label {
    grid-column: 1;  /* Coloca los labels en la primera columna */
    align-self: center;  /* Alinear verticalmente los labels */
    font-size: 1.2rem;
}

input {
    grid-column: 2;  /* Coloca los inputs en la segunda columna */
    padding: 8px;
    border: 1px solid var(--bordesInput);
    border-radius: 4px;
    font-size: 1.2rem;
}

/* Estilos para botones */
button {
    grid-column: span 2;
    justify-self: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Contenedor de lista de sugerencias */
.suggestions-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--bordesInput);
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* Oculto por defecto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid var(--bordesInput);
    
}

.suggestion-item:hover,
.suggestion-item.active { /* Estilo activo */
    background-color: #e9e9e9;
    ;
}

.suggestion-item:last-child {
    border-bottom: none;
}
