:root {
    --primary-color: #3498db;       /* Azul principal */
    --secondary-color: #85ddaa;     /* Verde secundario */
    --background-color: #f5f5f5;    /* Fondo claro */
    --bordesInput: #7c7878;         /* Bordes */
    --accent-color: #e74c3c;        /* Rojo de acento */
}

.buttonCarga { 
    margin: 10px 0; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background: var(--primary-color); 
    color: white; 
    cursor: pointer; 
} 

.buttonCarga:hover { 
    background: var(--secondary-color); 
}

/* Contenedor de lista de sugerencias */
.suggestions-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--bordesInput);
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* Oculto por defecto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 5px;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    border: none; 
}

.suggestion-item:hover,
.suggestion-item.active { /* Añadido para el estilo activo */
    background-color: #e9e9e9;
}
 .botonEliminarItem {
    width: 80px;
    border: none;
 }
