:root {
    --primary-color: #3498db;       /* Azul principal */
    --secondary-color: #2ecc71;     /* Verde secundario */
    --background-color: #f5f5f5;    /* Fondo claro */
    --bordesInput: #7c7878;          /* Texto oscuro */
    --accent-color: #e74c3c;        /* Rojo de acento */
}



/* Centrando la tabla en la página */
#formProductos {
    display: grid;
    
    margin-left: 1%;
    margin-top: 20px;    
    margin-bottom: 20px;
}

/* Estilos para la tabla */
#formProductos table {
    width: auto; /* Ajusta el ancho según tus necesidades */
    border-collapse: collapse;
    border: 1px solid var(--bordesInput);
    
    
    
}

/* Estilos para las cabeceras de columna */
#formProductos th {
    background-color: #679de9;
    color: #333;
    text-align: left;
    padding: 10px;
    border: 1px solid var(--bordesInput);
    font-weight: bold;
}



/* Estilos para las celdas de la tabla */
#formProductos td,
#formProductos th {
    border: 1px solid var(--bordesInput);
    width: auto
    
}

/* Estilos para los campos de entrada dentro de las celdas */
#formProductos input[type="date"],
#formProductos input[type="text"] {
   border: none
}

/* Hover para filas de la tabla */
#formProductos tr:hover {
    background-color: #f9f9f9;
}


#formProductos input[type="number"] {
    border: none;
    width: 70px;
}

/* Estilos para las celdas específicas */
#formProductos td:nth-child(3), /* Marca */
#formProductos td:nth-child(5) { /* opLote */
    width: 70px;
}

/* Estilos para los campos de entrada dentro de las columnas específicas */

#formProductos td:nth-child(2) input[type="number"],
#formProductos td:nth-child(3) input[type="text"], /* Marca */
#formProductos td:nth-child(4) input[type="date"],
#formProductos td:nth-child(5) input[type="text"] { /* opLote */
    width: 100%
}

#botonActualizar {
    margin-right: 20px;
}