<%- include('partials/head') %> 
    <title>Guardar Productos</title>
</head>
<body>
    <%- include('partials/header') %> 

    <h1>Guardar Productos</h1>
    <form id="formGuardarProductos" action="/guardarProductos" method="POST">
        <button type="submit">Guardar Productos</button>
    </form>
    

    <%- include('partials/footer') %> 
</body>
</html>
