<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes</title>
    <link rel="stylesheet" href="./css/estilosGenerales.css">
    <link rel="stylesheet" href="./css/estilosTransportes.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1 id="h1">Cargar transporte</h1>
    <h1 class="gestionarTransporte" style="display: none;">Gestionar transporte</h1>
    <form action="/agregarTransporte" method="POST" id="formTransporte">
        <!-- Nombre -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" autocomplete="off">
        <div></div>
        <div id="suggestionsContainer1" style="display: none;"></div><br>
    
        <!-- Dirección Local -->
        <label for="direccionLocal" class="cargarTransporte">Dirección:</label>
        <input type="text" id="direccionLocal" name="direccionLocal" class="cargarTransporte"><br>
    
        <!-- Teléfono -->
        <label for="telefono" class="cargarTransporte">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" class="cargarTransporte"><br>

        <!-- Id oculto -->
         <input type="hidden" id="idTransporte" name="idTransporte" value="">
    
        <!-- Botones de acción -->
        <button type="submit" id="botonCargar">Cargar Transporte</button>
        
        <!--button id="botonActualizar" class="cargarTransporte">Actualizar</button>
        <button id="botonEliminar" class="cargarTransporte">Eliminar</button-->
        <button type="submit" id="botonActualizar" class="cargarTransporte">Actualizar</button>
        <button type="submit" id="botonEliminar" class="cargarTransporte">Eliminar</button>
    </form>
    
    <script src="js/listarTransportes.js"></script>
    <script src="js/actualizarTransportes.js"></script>
</body>
</html>
