<%- include('partials/head') %> 
    <link rel="stylesheet" href="./css/estiloOp.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %> 

    <h1>Cargar OP</h1>
    <form id="formOp" method="POST">
        <label for="op">OP:</label>
        <input type="text" name="op" required id="op" autocomplete="off"><br>

        <label for="fechaIngreso">Fecha de ingreso:</label>
        <input type="date" name="fechaIngreso" id="fechaIngreso"><br>

        <div id="sugerenciasProductos">
            <!-- Aquí se mostrarán los productos y cantidades añadidos -->
        </div>

        <label for="producto">Producto:</label>
        <input type="text" name="producto" id="producto" autocomplete="off">
        <div id="suggestionsContainerProducto" class="suggestions-container"></div><br>

        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad"><br>

        <button type="button" class="buttonCarga" id="añadirProducto">Agregar Producto</button>
        <button type="submit" class="buttonCarga">Guardar OP</button>
    </form>

    <%- include('partials/footer') %> 
    <script src="./js/listarProductosOp.js"></script>
</body>
</html>
