<%- include('partials/head') %> 
    <title>Estadísticas</title>
</head>
<body>
    <%- include('partials/header') %> 
    
<h1>Top Jet</h1>

<h1>Leadder Succsess</h1>


    <%- include('partials/footer') %> 
</body>
</html>