<%- include('partials/head') %>
    <title>Impresion de etiquetas</title>
    <link rel="stylesheet" href="/css/estilosGenerales.css">
</head>
<body>
    <%- include('partials/header') %> 
    <h1>Imprimir etiquetas</h1>
</body>
</html>