<%- include('partials/head') %>
    <title>Impresion de etiquetas</title>
    <link rel="stylesheet" href="./css/estilosEtiquetas.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1 id="h1">Imprimir etiquetas</h1>

    <form id="formCliente">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" autocomplete="off">
        <div id="suggestions-container"></div>
    </form>

    <div id="datosCliente">
        <label for="cuit">CUIT:</label>
        <input type="text" name="cuit" id="cuit">

        <label for="provincia">Provincia:</label>
        <input type="text" name="provincia" id="provincia">

        <label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" id="ciudad">

        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion" id="direccion">

        <label for="telefono">Teléfono:</label>
        <input type="number" name="telefono" id="telefono">

        <label for="seguro">Seguro:</label>
        <input type="text" name="seguro" id="seguro">

        <label for="entrega">Entrega:</label>
        <input type="text" name="entrega" id="entrega">

        <label for="pago">Pago:</label>
        <input type="text" name="pago" id="pago">
    </div>

    <table id="remitente"> 
        <tr> 
            <th>Remitente</th> 
            <td id="remitenteNombre">Femex S.A.</td> 
        </tr> 
        <tr> 
            <th>Dirección</th> 
            <td id="remitenteDireccion">Duarte Quirós 4105. Cba</td> 
        </tr> 
        <tr> 
            <th>Teléfono</th> 
                <td id="remitenteTelefono">351 8509718</td> 
        </tr> 
        <tr> 
            <th>Email</th> 
            <td id="remitenteEmail">Email del Remitente</td> 
        </tr> 
    </table>
    <form id="formBultos"> 
        <label for="bultos">Cantidad de bultos:</label> 
        <input type="number" id="bultos" name="bultos" min="1" required> 
        <button type="button" id="botonImprimir">Imprimir Etiquetas</button> 
    </form> 
    
    <div id="etiquetasContainer" class="hidden"> </div>

    <%- include('partials/footer') %>
    <script src="./js/listarClientesEtiquetas.js"></script>
    <script src="./js/imprimirEtiquetas.js"></script>
</body>
</html>

