<header class="header">
   <!--<a href="/cargarUsuario">Cargar Usuario</a>
   <a href="/cargarUsuario">Cargar Usuario</a>
   <a href=""></a> -->
    
       <div class="card">
           <a href="/cargarUsuario">Cargar <span><br></span>Usuario</a>
       </div>
       <div class="card">
           <a href="/">Cargar <span><br></span>cliente</a>
       </div>
       <div class="card">
           <a href="/cargarProductos">Cargar <span><br></span>Productos</a>
       </div>
    
       <div class="card">
           <a href="/agregarRma">Cargar <span><br></span>RMA</a>
       </div>

       <div class="card">
           <a href="/gestionarRma">Gestionar RMA</a>
       </div>
        
       <div class="card">
           <a href="/imprimirEtiqueta">Imprimir etiqueta</a>
       </div>

       <div class="card">
           <a href="/agregarTransporte">Cargar transportes</a>
       </div>

       <div class="card">
           <a href="/gestionarTransporte">Gestionar transportes</a>
       </div>

       <div class="card">
           <a href="/stockEjs">Consultar Stock</a>
       </div>
</header>