<header class="header">
   <!--<a href="/cargarUsuario">Cargar Usuario</a>
   <a href="/cargarUsuario">Cargar Usuario</a>
   <a href=""></a> -->
    
       <div class="card">
           <a href="/cargarUsuario">Cargar Usuario</a>
       </div>
       <div class="card">
           <a href="/">Cargar cliente</a>
       </div>
       <div class="card">
           <a href="/cargarProductos">Cargar Productos</a>
       </div>
    
       <div class="card">
           <a href="/agregarRma">Cargar RMA</a>
       </div>

       <div class="card">
           <a href="/gestionarRma">Gestionar RMA</a>
       </div>
        
       <div class="card">
           <a href="/imprimirEtiqueta">Imprimir etiqueta</a>
       </div>

       <div class="card">
           <a href="/agregarTransporte">Cargar transportes</a>
       </div>

       <div class="card">
           <a href="/gestionarTransporte">Gestionar transportes</a>
       </div>

       <div class="card">
           <a href="/consultaCliente">Consultar cliente</a>
       </div>
</header>