<header class="header">
    <!-- <a href="/cargarUsuario">Cargar Usuario</a>
    <a href="/cargarUsuario">Cargar Usuario</a>
    <a href=""></a> -->
    
        <div class="card">
            <a href="/cargarUsuario">Cargar Usuario</a>
        </div>
        <div class="card">
            <a href="/editarUsuario">Editar Usuario</a>
        </div>
        <div class="card">
            <a href="/listarUsuarios">Listar Usuarios</a>
        </div>
    
    
</header>